.footer {
  color: $dark;
  display: flex;
  flex-direction: column;

  &__content {
    padding-bottom: rem(25px);
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($dark, .1);
    }
  }

  &__container {
    display: flex;

    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left {
    width: 18%;
    display: flex;
    flex-direction: column;
    margin-right: 11%;

    @include notes {
      margin-right: 7%;
      width: 20%;
    }

    @include tablets {
      margin-right: 0%;
      width: 100%;
      align-items: center;
      margin-bottom: rem(25px);
    }
  }

  &__logo {
    margin-bottom: rem(29px);
  }

  &__address {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: rem(15px);

    @include tablets {
      flex-direction: row;
      justify-content: center;
    }

    @include phones {
      @media screen and (max-width: 576px) {
        flex-wrap: wrap;
        line-height: 2;
        max-width: rem(340px);
      }
    }
  }

  &__addr {
    width: 100%;
    display: flex;
    color: currentColor;
    transition: .6s;

    &-ref {
      display: flex;
      width: 100%;
      align-items: center;
    }

    &:hover {
      color: $orange;
      transition: .6s;
    }

    span {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
    }

    &:not(:last-child) {
      margin-bottom: rem(15px);

      @include tablets {
        margin-bottom: 0;
        margin-right: rem(20px);
      }
    }

    @include tablets {
      width: auto;
    }
  }

  &__address-icon {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: currentColor;
    flex-shrink: 0;
    margin-right: 7px;
  }

  &__socials {
    display: flex;
    justify-content: space-between;

    @include tablets {
      width: 36%;
    }
  }

  &__social {
    width: rem(39px);
    height: rem(39px);
    border-radius: 50%;
    background-color: rgba($dark, .1);
    transition: .6s;
    display: flex;

    & a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & svg{
      width: 21px;
      height: 21px;
      stroke: $dark;
      fill: $dark;
      transition: .6s;
    }

    &:hover {
      background-color: $orange;
      transition: .6s;

      & svg{
        stroke: $white;
        fill: $white;
        transition: .6s;
      }

    }
  }

  &__right {
    flex-grow: 1;
    display: flex;
    column-gap: 9%;
    justify-content: space-between;

    @include notes {
      column-gap: 2%;
    }

    @include tablets {
      width: 85%;
    }

    @include phones {
      @media screen and (max-width: 576px) {
        width: 92%;
        max-width: rem(300px);
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 0;
        row-gap: rem(20px);
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    @include phones {
      @media screen and (max-width: 576px) {
        width: 50%;

        &:nth-child(even) {
          text-align: right;
        }
      }
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 49px;
    letter-spacing: 0.01em;
    margin-bottom: rem(22px);

    @include phones {
      @media screen and (max-width: 576px) {
        margin-bottom: rem(8px);
        line-height: 1.2;
      }
    }
  }

  &__ref-list {
    display: flex;
    flex-direction: column;
  
    // @include tablets {
    //   width: 100%;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   font-size: 16px;
    // }
}

  &__ref-item {
    transition: .6s;
    
    &:not(:last-child) {
      margin-bottom: rem(22px);
      
      @include phones {
        @media screen and (max-width: 576px) {
          margin-bottom: rem(5px);
        }
      }
    }

    &:hover {
      color: $orange;
      transition: .6s;
    }

    // @include tablets {
    //   width: 25%;
    // }
  }

  &__footer {
    padding: rem(26px) 0 rem(36px);
  }
  &__footer-container {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: rgba($dark, .5);

    @include phones {
      flex-direction: column;
      align-items: center;
    }
  }

  &__copyright {
    @include phones {
      margin-bottom: rem(14px);
    }
  }

  &__policy a {
    &:not(:last-child) {
      margin-right: rem(53px);

      @include phones {
        margin-right: rem(14px);
      }
    }
  }
}