.nav {
  &__list {
    display: flex;

    @include phones {
      position: absolute;
      display: none;
    }
  }

  &__item {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $dark;
    transition: .6s;

    &--active {
      color: $orange;
    }

    &:hover {
      color: $orange;
      transition: .6s;
    }

    &:not(:last-child) {
      margin-right: rem(57px);
    }

    @include notes {
      &:not(:last-child) {
        margin-right: rem(26px);
      }
    }

    @include tablets {
      font-size: 18px;

      &:not(:last-child) {
        margin-right: rem(15px);
      }
    }
  }
}