@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);



// @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// @font-face {
// 	font-family: 'Alegreya-sans';
// 	src: url('../../fonts/alegreyasans-extrabold-webfont.woff2') format('woff2'),
// 	url('../../fonts/alegreyasans-extrabold-webfont.woff') format('woff');
// 	font-weight: 800;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Alegreya-sans';
// 	src: url('../../fonts/alegreyasans-light-webfont.woff2') format('woff2'),
//        url('../../fonts/alegreyasans-light-webfont.woff') format('woff');
// 	font-weight: 300;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Alegreya-sans';
// 	 src: url('../../fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
//          url('../../fonts/alegreyasans-bold-webfont.woff') format('woff');
// 	font-weight: 600;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Alegreya-sans';
// 	src: url('../../fonts/alegreyasans-medium-webfont.woff2') format('woff2'),
//          url('../../fonts/alegreyasans-medium-webfont.woff') format('woff');
// 	font-weight: 500;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'Alegreya-sans';
// 	src: url('../../fonts/alegreyasans-regular-webfont.woff2') format('woff2'),
//          url('../../fonts/alegreyasans-regular-webfont.woff') format('woff');
// 	font-weight: 400;
// 	font-style: normal;
// }
// @font-face {
// 	font-family: 'Alegreya-sans';
// 	src: url('../../fonts/alegreyasans-thin-webfont.woff2') format('woff2'),
//          url('../../fonts/alegreyasans-thin-webfont.woff') format('woff');
// 	font-weight: 200;
// 	font-style: normal;
// }

// @mixin alegreya-sans($weight: normal) {
// 	font-family: 'Alegreya-sans', Helvetica, sans-serif;

// 	@if $weight == thin {
// 		font-weight: 200;
// 	}
// 	@if $weight == light {
// 		font-weight: 300;
// 	}
// 	@if $weight == normal {
// 		font-weight: 400;
// 	}
// 	@if $weight == medium {
// 		font-weight: 500;
// 	}
// 	@if $weight == bold {
// 		font-weight: 600;
// 	}
// 	@if $weight == extrabold {
// 		font-weight: 800;
// 	}
// }
// @mixin open-sans() {
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: normal;
// }